<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "SAMPLE APP", root_path, class: "brand-logo" %>
      <a href="#" data-activates="hamburger" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/nav' %>
      </ul>
      <ul class="side-nav" id="hamburger">
        <%= render 'layouts/nav' %>s
      </ul>
    </div>
  </nav>
</header>